html {
  font-size: 18px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 32rem;
  margin: 4rem 0 4rem 3rem;
  padding: 0 1rem;
  font-family: georgia, serif;
  color: #333;
  hyphens: auto;
}

img {
  border-style: none;
}

h1 {
  margin-bottom: 3rem;
  font-size: 1.7rem;
  font-style: italic;
}

p {
  line-height: 1.66rem;
  margin-bottom: 1rem;
}

blockquote {
  font-style: italic;
  margin: 0 0 1rem 0rem;
  line-height: 1.66rem;
}

ul {
  margin-left: 0;
  padding: 0;
}

ul li {
  margin: 2rem 0;
  display: list-item;
  list-style: none;
  line-height: 1.66rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover, a:active {
  color: #f36f6f;
}

nav {
  margin-top: 6rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav a, nav span {
  display: inline-block;
}

nav img, nav span {
  height: 1rem;
  width: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 44rem) {
  body {
    margin: 4rem auto 2rem;
  }
}
