<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ root }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ root }}/static/styles.css">
</head>
<body>
    <img src="{{ root }}/static/enso.svg" class="logo"></img>
    <ul>
    {{ #for l : langs }}
        <li><a href="{{ root }}/{{ l.lang }}/">{{ l.local }}</a></li>
    {{ #end }}
    </ul>
</body>
</html>
