<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ root }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ root }}/static/styles.css">
</head>
<body>
    {{ content|indent:4|noescape }}
    <div class="nav">
    {{ #if prev }}
        <a class="nav-item prev" href={{ prev }}>&#x25C0;</a>
    {{ #else }}
        <span class="nav-item"></span>
    {{ #end }}
        <a class="nav-item" href="{{ toc }}">&#x25C9;</a>
    {{ #if next }}
        <a class="nav-item next" href={{ next }}>&#x25B6;</a>
    {{ #end }}
    </div>
</body>
</html>
